<nav style="padding: 15px;">
    <div>
        <a href="/"><img src="/OSM.png" width="100" alt=""></a>
        <p>Learn nodejs</p>
    </div>
    <ul>
        <li><a href="/books" <% if (url == "/books") {%> class="active" <% } %>>Home</a></li>
        <li><a href="/about" <% if (url == "/about") {%> class="active" <% } %>>About</a></li>
        <li><a href="/books/new" <% if (url == "/books/new") {%> class="active" <% } %>>New Book</a></li>
        <li><a href="/signup" <% if (url == "/signup") {%> class="active" <% } %>>New User</a></li>
    </ul>
</nav>

<!-- Bonjour...
Je cherche un appartement pour une famille ukraineinne, une femme avec deux enfants 13 et 14 ans (scolarisés à Clermont) ... le mari est au Qatar.. il y a un garant français à la retraite avec un salaire net de 2400 euro et propriétaire d'une maison. La famille est prête à payer six mois ou 12 mois en avance  + un dépot de garantie. 
Cordialement

contact@casalis-immobilier.fr
https://www.cabinet-casalis-immobilier.fr/location/appartement-t3-3-pieces-pau-64000,LA2541 -->