<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div class="content" style="background: silver; padding: 10px; margin-top: 10px;">
        <h1>NOT FOUND</h1>
        <h2>This page not existe</h2>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>

</html>