<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>
            <div class="container">
                <h1>ABOUT page</h1>
                <h2>THIS IS THE ABOUT PAGE</h2>
                <p>Lorem ipsum dolor sit amet. Aut galisum eligendi ad atque facilis et nobis fugit aut explicabo alias.
                    Et sequi earum sit internos temporibus aut totam fugiat. Id architecto possimus et veritatis
                    nesciunt aut fuga pariatur est maiores velit id esse sunt. Qui esse iste est reprehenderit saepe et
                    minus enim qui voluptatibus nulla ut internos molestias in amet optio?

                    Et adipisci sint quo esse doloribus ea unde fugit sit dolores iure At exercitationem accusantium sit
                    illum deserunt in saepe beatae. Aut velit magnam aut quis deserunt eos rerum totam ea omnis ratione
                    id dolor aspernatur et aliquid voluptatum in fuga aperiam! Sit accusantium omnis sit vero deserunt
                    ut necessitatibus incidunt.

                    Eum voluptas tempore qui molestiae tempore sed dolores exercitationem aut sunt enim et laudantium
                    laborum. Et veritatis sunt ut illum similique aut consequatur doloremque autem quia ad magni illo et
                    nobis accusamus aut quia necessitatibus. Hic velit cupiditate qui sequi iste aut suscipit rerum eum
                    quidem voluptas non voluptas nesciunt! Ab sint voluptatibus rem neque mollitia est quisquam ducimus
                    est aliquam dolor et exercitationem repellendus.
                    Lorem ipsum dolor sit amet. Aut galisum eligendi ad atque facilis et nobis fugit aut explicabo
                    alias. Et sequi earum sit internos temporibus aut totam fugiat. Id architecto possimus et veritatis
                    nesciunt aut fuga pariatur est maiores velit id esse sunt. Qui esse iste est reprehenderit saepe et
                    minus enim qui voluptatibus nulla ut internos molestias in amet optio?

                    Et adipisci sint quo esse doloribus ea unde fugit sit dolores iure At exercitationem accusantium sit
                    illum deserunt in saepe beatae. Aut velit magnam aut quis deserunt eos rerum totam ea omnis ratione
                    id dolor aspernatur et aliquid voluptatum in fuga aperiam! Sit accusantium omnis sit vero deserunt
                    ut necessitatibus incidunt.

                    Eum voluptas tempore qui molestiae tempore sed dolores exercitationem aut sunt enim et laudantium
                    laborum. Et veritatis sunt ut illum similique aut consequatur doloremque autem quia ad magni illo et
                    nobis accusamus aut quia necessitatibus. Hic velit cupiditate qui sequi iste aut suscipit rerum eum
                    quidem voluptas non voluptas nesciunt! Ab sint voluptatibus rem neque mollitia est quisquam ducimus
                    est aliquam dolor et exercitationem repellendus.
                    Lorem ipsum dolor sit amet. Aut galisum eligendi ad atque facilis et nobis fugit aut explicabo
                    alias. Et sequi earum sit internos temporibus aut totam fugiat. Id architecto possimus et veritatis
                    nesciunt aut fuga pariatur est maiores velit id esse sunt. Qui esse iste est reprehenderit saepe et
                    minus enim qui voluptatibus nulla ut internos molestias in amet optio?

                    Et adipisci sint quo esse doloribus ea unde fugit sit dolores iure At exercitationem accusantium sit
                    illum deserunt in saepe beatae. Aut velit magnam aut quis deserunt eos rerum totam ea omnis ratione
                    id dolor aspernatur et aliquid voluptatum in fuga aperiam! Sit accusantium omnis sit vero deserunt
                    ut necessitatibus incidunt.

                    Eum voluptas tempore qui molestiae tempore sed dolores exercitationem aut sunt enim et laudantium
                    laborum. Et veritatis sunt ut illum similique aut consequatur doloremque autem quia ad magni illo et
                    nobis accusamus aut quia necessitatibus. Hic velit cupiditate qui sequi iste aut suscipit rerum eum
                    quidem voluptas non voluptas nesciunt! Ab sint voluptatibus rem neque mollitia est quisquam ducimus
                    est aliquam dolor et exercitationem repellendus.
                    Lorem ipsum dolor sit amet. Aut galisum eligendi ad atque facilis et nobis fugit aut explicabo
                    alias. Et sequi earum sit internos temporibus aut totam fugiat. Id architecto possimus et veritatis
                    nesciunt aut fuga pariatur est maiores velit id esse sunt. Qui esse iste est reprehenderit saepe et
                    minus enim qui voluptatibus nulla ut internos molestias in amet optio?

                    Et adipisci sint quo esse doloribus ea unde fugit sit dolores iure At exercitationem accusantium sit
                    illum deserunt in saepe beatae. Aut velit magnam aut quis deserunt eos rerum totam ea omnis ratione
                    id dolor aspernatur et aliquid voluptatum in fuga aperiam! Sit accusantium omnis sit vero deserunt
                    ut necessitatibus incidunt.

                    Eum voluptas tempore qui molestiae tempore sed dolores exercitationem aut sunt enim et laudantium
                    laborum. Et veritatis sunt ut illum similique aut consequatur doloremque autem quia ad magni illo et
                    nobis accusamus aut quia necessitatibus. Hic velit cupiditate qui sequi iste aut suscipit rerum eum
                    quidem voluptas non voluptas nesciunt! Ab sint voluptatibus rem neque mollitia est quisquam ducimus
                    est aliquam dolor et exercitationem repellendus.
                    Lorem ipsum dolor sit amet. Aut galisum eligendi ad atque facilis et nobis fugit aut explicabo
                    alias. Et sequi earum sit internos temporibus aut totam fugiat. Id architecto possimus et veritatis
                    nesciunt aut fuga pariatur est maiores velit id esse sunt. Qui esse iste est reprehenderit saepe et
                    minus enim qui voluptatibus nulla ut internos molestias in amet optio?

                    Et adipisci sint quo esse doloribus ea unde fugit sit dolores iure At exercitationem accusantium sit
                    illum deserunt in saepe beatae. Aut velit magnam aut quis deserunt eos rerum totam ea omnis ratione
                    id dolor aspernatur et aliquid voluptatum in fuga aperiam! Sit accusantium omnis sit vero deserunt
                    ut necessitatibus incidunt.

                    Eum voluptas tempore qui molestiae tempore sed dolores exercitationem aut sunt enim et laudantium
                    laborum. Et veritatis sunt ut illum similique aut consequatur doloremque autem quia ad magni illo et
                    nobis accusamus aut quia necessitatibus. Hic velit cupiditate qui sequi iste aut suscipit rerum eum
                    quidem voluptas non voluptas nesciunt! Ab sint voluptatibus rem neque mollitia est quisquam ducimus
                    est aliquam dolor et exercitationem repellendus.
                </p>
            </div>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>