<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

    <body>
        <%- include('../partials/nav.ejs')%>
            <div class="content">
                <h1><center><CONACT page>Add book<c/enter></CONACT></h1>
               <form action="/books" method="POST" class="add">
                   <input type="text" name="title" placeholder="title">
                   <input type="text" name="author" placeholder="author">
                   <input type="text" name="publisher" placeholder="publisher">
                   <input type="text" name="publication_place" placeholder="publication place">
                   <input type="text" name="publication_date" placeholder="publication date">
                   <button>Submit</button>
               </form>
            </div>
            <%- include('../partials/footer.ejs')%>
    </body>

</html>